<p id="notice"><%= notice %></p>

<h1>Comparisons</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comparisons.each do |comparison| %>
      <tr>
        <td><%= comparison.title %></td>
        <td><%= comparison.description %></td>
        <td><%= link_to 'Show', comparison %></td>
        <td><%= link_to 'Edit', edit_comparison_path(comparison) %></td>
        <td><%= link_to 'Destroy', comparison, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comparison', new_comparison_path %>
