<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @comparison.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @comparison.description %>
</p>

<% if @comparison.image.attached? %>
<!-- @comparison.image.present? will always return true, use attached? to check presence -->
  <p>
    <strong>Image:</strong>
    <br>
    <%= image_tag @comparison.image %>
  </p>
<% end %>

<%= link_to 'Edit', edit_comparison_path(@comparison) %> |
<%= link_to 'Back', comparisons_path %>
