<%= stylesheet_link_tag "main.css" %>
<%= javascript_include_tag "script.js" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @comparison.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @comparison.description %>
</p>

<% if @comparison.images.attached? %>
<p>
  <strong>Images:</strong>
  <br>
  <% @comparison.images.each do |image| %>
    <%= image_tag image, :class => "img" %>
  <% end %>
</p>
<% end %>

<p>
	<img alt="" src="https://i.ytimg.com/vi/zGYsq7cbVZA/hqdefault.jpg" 
	id="imgClickAndChange" onclick="changeImage()"  />
</p>

<%= link_to 'Edit', edit_comparison_path(@comparison) %> |
<%= link_to 'Back', comparisons_path %>
