<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @comparison.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @comparison.description %>
</p>

<%= link_to 'Edit', edit_comparison_path(@comparison) %> |
<%= link_to 'Back', comparisons_path %>
